<div class="hidden" id="cat-data">{{Stringifying data}}</div>
<div class="hidden" id="cat-result">{{Stringifying result}}</div>

<div class="container" style="margin-top:5em">
    <div class="row">
                <div class="col-lg-3">
                    <div class="card card-body mb-4" style="background: #cbcbcb69;">
                        <article class="icontext">
                            <div class="text">
                                <div class="flex">

                                <img src="https://cdn-icons-png.flaticon.com/512/3271/3271314.png" alt="revenue" style="height: 3em;">
                                <h6 class="mb-1 card-title" style="float: right;
    padding-top: 1em;
    margin-right: 5em;
    font-size: 1.1em;
    font-weight: bolder;">Revenue</h6>
                                </div>
                                <h4 style="font-size: 25px;
    text-align: center;
    color: cadetblue;">₹ {{counts.anualRevenue}}</h4> 
    <center>
 <span class="text-sm">Shipping fees are not included</span>
    </center>
                               
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4" style="background: #cbcbcb69;">
                        <article class="icontext">
                            <div class="text">
                                <div class="flex">

                                <img src="https://cdn-icons-png.flaticon.com/512/3965/3965837.png" alt="revenue" style="height: 3em;">
                                
                                <h6 class="mb-1 card-title" style="float: right;
    padding-top: 1em;
    margin-right: 5em;
    font-size: 1.1em;
    font-weight: bolder;">Orders</h6>
                                </div>
                                <h4 style="font-size: 25px;
    text-align: center;
    color: cadetblue;">{{counts.orderCount}}</h4>
    <center>
 <span class="text-sm">Shipping fees are not included</span>
    </center>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4" style="background: #cbcbcb69;">
                        <article class="icontext">
                            <div class="text">
                                <div class="flex">

                                <img src="https://cdn-icons-png.flaticon.com/512/7910/7910853.png" alt="revenue" style="height: 3em;">
                                <h6 class="mb-1 card-title" style="float: right;
    padding-top: 1em;
    margin-right: 5em;
    font-size: 1.1em;
    font-weight: bolder;">Products</h6>
                                </div>
                                <h4 style="font-size: 25px;
    text-align: center;
    color: cadetblue;">{{counts.productCount}}</h4>
    <center>
 <span class="text-sm">in 3 Categories</span>
    </center>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4" style="background: #cbcbcb69;">
                        <article class="icontext">
                            <div class="text">
                                <div class="flex">

                                <img src="https://cdn-icons-png.flaticon.com/512/2621/2621361.png" alt="revenue" style="height: 3em;">
                                <h6 class="mb-1 card-title" style="float: right;
    padding-top: 1em;
    margin-right: 5em;
    font-size: 1.1em;
    font-weight: bolder;">Users</h6>
                                </div>
                                <h4 style="font-size: 25px;
    text-align: center;
    color: cadetblue;">{{counts.userCount}}</h4>
     <center>
 <span class="text-sm">Total signups</span>
    </center>
                            </div>
                        </article>
                    </div>
                </div>
                </div>
</div>


<div class="container">

    <div class="container px-4">
  <div class="row gx-5">
    <div class="col-sm">
     <div class="p-3 border bg-light">
          <div class="charts">
        <div class="charts-card" style="
    border: none;">
             <p class="chart=title">Top 5 products
             </p>
             <div id="bar-chart"></div>
        </div>
    </div>
     </div>
    </div>
    <div class="col-sm">
      <div class="p-3 border bg-light">
          <div class="charts">
        <div class="charts-card" style="
    border: none;">
             <p class="chart=title">Based on Categories
             </p>
             <div id="chart"></div>
        </div>
    </div>
      </div>
      <center>
        <a href="/admin/get-salesreport">
      <button type="button" id="pdf" style="margin-top:4em;border-radius: unset;color:aliceblue;background: #0e4764;padding-inline: 8.2em;" class="btn btn-outline-info">Create report</button></a>
      </center>

      
    </div>
  </div>
</div>
<br><br><br><br>

  
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.37.2/apexcharts.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.6/xlsx.full.min.js"></script>



<script>

  
  const DATA = JSON.parse(document.getElementById('cat-data').innerHTML)
  const RESULT = JSON.parse(document.getElementById('cat-result').innerHTML)


  console.log(RESULT)
  let catName =[]
  let catCount = []

  for(let i=0; i<DATA.length;i++){
    catName[i]=DATA[i]._id
    catCount[i]=DATA[i].products
  }
  let monthCount = [0,0,0,0,0,0,0,0,0,0,0,0]

  for(let i=0; i<=12;i++){
    if(RESULT[i]!=undefined){
    monthCount[12-(RESULT[i].month)]=RESULT[i].count
    }
  }
  console.log(monthCount)


  

   




         var options = {
          series: [{
          data: monthCount
        }],
          chart: {
          type: 'bar',
          height: 400
        },
        plotOptions: {
          bar: {
            horizontal: true,
            dataLabels: {
              position: 'top',
            },
          }
        },
        dataLabels: {
          enabled: true,
          offsetX: -6,
          style: {
            fontSize: '10px',
            colors: ['#fff']
          }
        },
        stroke: {
          show: true,
          width: 1,
          colors: ['#fff']
        },
        tooltip: {
          shared: true,
          intersect: false
        },
        xaxis: {
          categories: ['Dec','Nov','Oct','Sep','Aug','Jul','Jun','May','Apr','Mar','Feb','Jan',]
        },
        };

        var chart = new ApexCharts(document.querySelector("#bar-chart"), options);
        chart.render();










                var options2 = {
          series: catCount,
          chart: {
          width: 380,
          type: 'pie',
        },
        labels: catName,
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options2);
        chart.render();





</script>






<style>
    .charts{

    }

    .charts-card{
     
      
    }
    .chart-title{
      
    }
</style>
