<div class="container" style="margin-top:80px">
  <div class="table-responsive">

    {{#if data}}
    <table class="table" >
  <thead class="thead-dark">
    <tr class="d-flex flex-row" style="background:black;color:rgb(251, 239, 222)">
      <th scope="col" style="width:15em">userId</th>
      <th scope="col" style="width:15em">orderId</th>
      <th scope="col" style="width:10em">Date</th>
      <th scope="col" style="width:9em">Payment method</th>
      <th scope="col" style="width:8em">Total</th>
      <th scope="col" style="width:8em">Status</th>
      <th scope="col" style="width:5em">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr class="d-flex flex-row">
      <td class="items" style="width:15em">{{userId}}</td>
      <td class="items" style="width:15em">{{_id}}</td>
      <td class="items" style="width:10em">{{orderDate}}</td>
      <td class="items" style="width:9em">{{payMethod paymentMethod}}</td>
      <td class="items" style="width:8em">₹ {{Total}}</td>
      <td class="items" style="width:8em">{{status}}</td>
      <td class="items" style="width:5em"><a href="/admin/order-details-admin/{{_id}}">View</a></td>
    </tr>
    {{/each}}

     </tbody>
</table>
</div>
</div>
<br>
<div class="container">
     <nav aria-label="Page navigation example">

  <ul class="pagination" style="justify-content: center;">
    <li class="page-item">
      <a style="pointer-events:{{checkPagecount pageCount}}" class="page-link" href="/admin/list-orders/{{minus pageCount}}" aria-label="Previous">
        <span  aria-hidden="true" style="color: #047b67;">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" style="color:black;pointer-events:none" href="#">{{plus pageCount}}</a></li>

    <li class="page-item">
      <a style="pointer-events:{{checkPagecountfull data}}" class="page-link" href="/admin/list-orders/{{plus pageCount}}" aria-label="Next">
        <span aria-hidden="true" style="color: #047b67;">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</div>
<br>
<br>
<br>

    {{else}}
    <div id="content" class="col-sm-12" style="text-align:center;">
                        <img src="https://cdn-icons-png.flaticon.com/512/7486/7486747.png" class="error_img" >
                        <h2 style="font-family: 'Celiasbold';font-size: 18px;color: #000;">No More Orders</h2>
                        <p style="margin-bottom: 2%;font-size: 14px;font-family: 'Celias';">Looks like you haven't added <br> anything to your cart yet </p>   
                        <a href="/" class="btn btn-mega" style="">Start Shopping</a>
</div>

 
    {{/if}}




<style>
.container.main{
        margin-top: 6em;
       
}
tr{
           position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid transparent;
        border-radius: .25rem;
        margin-bottom: 1.5rem;
        box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.table{
    width: 60em;
    margin-left: auto;
    margin-right: auto;
    
}
.items{
    padding-inline: 1em;
}

.error_img{
    display: block;
    width: 16em;
    margin-inline: 36em;
    margin-left: auto;
    margin-right: auto;
    }
    .btn.btn-mega{
    text-align: center;
    border: 1px solid #fff;
    background: #fff;
    padding: 10px 30px;
    border-radius: 50px;
    box-shadow: 0 0 9px 1px #eaeaea;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Celiasbold';
    background: black;
    }

</style>