
<section>
    <div class="container mt-5">
<table class="table table-hover" style="margin-top:5em">
{{#if data}}
    <div class="btn btn-info mb-5" style=" margin-top:3em; ">
        <a style="color: white;" href="/admin/add-product">Add Product</a>
    </div>
    
  <thead>
    <tr>
        <th scope="col">No.</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">price</th>
      {{!-- <th scope="col">prize</th> --}}
      <th scope="col">image</th>
      <th scope="col">Edit</th>
      <th scope="col" style="width: 8em;">Status</th>
      
    </tr>
  </thead>
  <tbody>
    <br>

    {{#each data}}
    
    <tr>
      <th scope="row">{{@index}}</th>
      <td>{{name}}</td>
      <td>{{category}}</td>
      <td>{{newPrice}}</td>
      <td><img style="height: 50px; width:50px" src="/uploads/{{Image}}" alt=""></td>
    <td><a class="" href="/admin/edit-product/{{_id}}"><img src="https://cdn4.iconfinder.com/data/icons/web-ui-color/128/Compose-512.png" style="height: 2em;width:2em" alt=""></a></td>
    {{#if list}}
      <td>
        <a href="/admin/list-false-product/{{_id}}">
        <button class="" style="border-radius: 0em;width: 5em;border: none;background: #000000d1;color:#ffff" onclick="return confirm('Do you want to unlist {{this.name}}')" >unlist</button>
        </a></td>
      {{else}}
      <td>
        <a href="/admin/list-true-product/{{_id}}">
        <button class="" style="border-radius: 0em;width: 5em;border: none;background: #d1e7dd; color:#0f5132"  >list</button>
        </a></td>
      {{/if}}
    </tr>

    {{/each}}
    {{else}}
    <div id="content" class="col-sm-12" style="text-align:center;">
<style>
    .error_img{
    display: block;
    text-align: center;
    width: 16em;
    margin-inline: 36em;
    padding-top: 3em;
    }
    .btn.btn-mega{
    text-align: center;
    border: 1px solid #fff;
    background: #fff;
    padding: 10px 30px;
    border-radius: 50px;
    box-shadow: 0 0 9px 1px #eaeaea;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Celiasbold';
    background: black;
    }
                        </style>
                        <img src="https://cdn-icons-png.flaticon.com/512/7486/7486747.png" class="error_img" >
                        <h2 style="font-family: 'Celiasbold';font-size: 18px;color: #000;">No products</h2>
                        <p style="margin-bottom: 2%;font-size: 14px;font-family: 'Celias';">Looks like you haven't added <br> any products yet </p>   
                        <a href="/" class="btn btn-mega" style="">Add Product</a>
                     </div>
{{/if}}
  </tbody>
</table>
    </div>
</section>