<div class="container" style="margin-top: 7em;margin-bottom: 7em;">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="card" style="margin-left: 9em;margin-right: -1em;">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://cdn-icons-png.flaticon.com/512/219/219970.png" alt="Admin"
                                class="rounded-circle p-1 bg-info" width="110">
                            <div class="mt-3">
                                <h4>{{data.name}}</h4>

                            </div>
                        </div>
                        <hr class="my-4">
                        <ul class="list-group list-group-flush">
                            <li class="list d-flex justify-content-between align-items-center flex-wrap"
                                style="font-size: 1.2em;text-align: center;padding-left: 4em;">
                                <a href="/get-orders">Orders</a>
                            </li>
                            <br>
                            <li class="list d-flex justify-content-between align-items-center flex-wrap"
                                style="font-size: 1.2em;text-align: center;padding-left: 2em;">
                                <a href="">Change password?</a>
                            </li>
                            <br>
                            <li class="list d-flex justify-content-between align-items-center flex-wrap"
                                style="font-size: 1.2em;text-align: center;padding-left: 3em;">
                                <a data-toggle="modal" data-target="#exampleModal">
                                    New address
                                </a>
                            </li>
                            <br>
                            <li class="list d-flex justify-content-between align-items-center flex-wrap"
                                style="font-size: 1.2em;text-align: center;padding-left: 4em;">
                                <a href="/logout">Logout</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card" style="width: 37em; margin-left: 3em;">
                    <div class="card-body" style="padding: 3em;">
                            <form id="form" action="/update-user" method="post">
                        <div class="row mb-3">
                            <div class="col-sm-3" style="padding-top: 1em;">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" name="name" class="form-control" value="{{data.name}}">
                            </div>
                        </div>
                         {{#if exist}}
                            <div class="alert alert-warning" role="alert">

                            <a href="" style="margin-left: 1em;">{{exist}}</a>
                            <img src="https://cdn-icons-png.flaticon.com/512/3756/3756730.png" style="height: 1.5em; width: 1.5em; margin-bottom: -0.3em;" alt="">
                            </div>
                            {{/if}}
                        <div class="row mb-3">
                            <div class="col-sm-3" style="padding-top: 1em;">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            
                            <div class="col-sm-9 text-secondary">
                                <input name="email" type="text" class="form-control" value="{{data.email}}">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3" style="padding-top: 1em;">
                                <h6 class="mb-0">Mobile</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input name="phone" type="text" class="form-control" value="{{data.contact}}">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9 text-secondary" style="margin-top: 2.5em;">
                               <button type="submit" class="btn btn-primary px-4" style="background: #337180;height: 3em;width: 21em;">Save changes</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                <br>
                <h4 style="padding-left: 3.9em;">Address</h4>
                <div class="row">
                    <div class="col-sm-12 pt-3" style="width: 41.8em; padding-left: 3.9em; ">
                        {{#each addressList}}
                        <div class="card">
                            <div class="card-body">
                                <a href="/delete-address/{{id}}">

                                <img src="https://cdn-icons-png.flaticon.com/512/2723/2723639.png" alt="" style="    height: 2em;float: right;">
                                </a>
                                <h5 class="pt-2">{{name}}</h5>
                                <h5 class="pt-2">{{contact}}</h5>
                                <h5 class="pt-2">{{address}}, {{locality}}</h5>
                                <h5 class="pt-2">{{city}}, {{state}} - {{pincode}}</h5>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>



                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add Address</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <form method="post" action="/add-address">
                                    <div class="form-group" style="float:left; width: 15.5em;">
                                        <input type="text"  required="" id="address-name" onkeyup="validateName()" name="name" placeholder="Name *">
                                    </div>
                                    <div class="form-group" style="float: right; width: 15.5em;">
                                        <input type="text" required="" id="address-no" onkeyup="validateNo()"  name="contact" placeholder="Mobile number *">
                                    </div>
                                    <div class="form-group" style="float:left; width: 15.5em;">
                                        <input required="" type="text" id="address-pincode" onkeyup="validatePincode()" name="pincode" placeholder="Pincode *">
                                    </div>
                                    <div class="form-group" style="float: right; width: 15.5em;">
                                        <input required="" type="text" name="locality" id="address-locality" onkeyup="validateLocality()"  placeholder="Locality *">
                                    </div>
                                    <div class="form-group">
                                        <input type="text"  required="" name="address" id="address-address" onkeyup="validateAddress()" placeholder="Address *">

                                    </div>
                                    <div class="form-group" style="float:left; width: 15.5em;">
                                        <input required="" type="text" name="city" id="address-city" onkeyup="validateCity()"  placeholder="City / Town/ District *">
                                    </div>
                                    <div class="form-group" style="float: right; width: 15.5em;">
                                        <input required="" type="text" name="state" id="address-state" onkeyup="validateState()" placeholder="State *">
                                    </div>
                                    <div class="form-group" style="float:left; width: 15.5em;">
                                        <input type="text" name="landmark" id="address-landmark" onkeyup="validateLandmark()" placeholder="Landmark (Optional) *">
                                    </div>
                                    <div class="form-group" style="float: right; width: 15.5em;">
                                        <input type="text" name="contact2" id="address-secondno" onkeyup="validateContactSecond()" placeholder="Alternate Phone (Optional) *">
                                    </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" style="    padding-inline: 2em;margin-right: 2em;"
                                    class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


<style>
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid transparent;
        border-radius: .25rem;
        margin-bottom: 1.5rem;
        box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
    }

    .me-2 {
        margin-right: .5rem !important;
    }
</style>

<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })



 function validateName(){
    console.log('function called')
    const name = document.getElementById('address-name').value
         if(name.length==0){
         document.getElementById('address-name').style.borderColor='red'
         return false;
    }
    var reg = new RegExp('^[0-9]$');

    if(reg.test(name)==true){
        document.getElementById('address-name').style.borderColor='red'
         return false;
    }

    if(!name.match(/^[A-Za-z]*\s{1}[A-Za-z]*$/))    
    {
        document.getElementById('address-name').style.borderColor='red'
         return false;
    }
    
    document.getElementById('address-name').style.borderColor='aquamarine'
    return true;

    }





    function validateNo(){
        const contact = document.getElementById('address-no').value
        const regex = /[a-zA-Z]/;
        console.log(typeof(contact))
        if(contact.length==0){
            document.getElementById('address-no').style.borderColor='red'
            return false
        } 

        if(contact.length!==10){

            document.getElementById('address-no').style.borderColor='red'
            return false;
        }
        if(regex.test(contact)==true){
        document.getElementById('address-no').style.borderColor='red'
         return false;
        }

    
        document.getElementById('address-no').style.borderColor='aquamarine'
        return true
    }





    function validatePincode(){
        const pincode = document.getElementById('address-pincode').value
        const regex = /[a-zA-Z]/;
        let x= 10 
        console.log(typeof(x))
      
        if(pincode.length<6 || pincode.length>6){
            
            document.getElementById('address-pincode').style.borderColor='red'
            return false
        }
        if(regex.test(pincode)==true){
        document.getElementById('address-pincode').style.borderColor='red'
         return false;
        }
        document.getElementById('address-pincode').style.borderColor='aquamarine'
        return true
    }






    function validateState(){
        const state = document.getElementById('address-state').value
    console.log(state)
    if(state.length==0){
            console.log('length - 0')
            document.getElementById('address-state').style.borderColor='red'
            return false
    } 

    const regex = /[0-9]/;
    if(regex.test(state)==true){
        console.log(state)
        document.getElementById('address-state').style.borderColor='red'
         return false;
    }

     document.getElementById('address-state').style.borderColor='aquamarine'
    return true;

    }




 function validateLocality(){
        const locality = document.getElementById('address-locality').value
    console.log(locality)
    if(locality.length==0){
            console.log('length - 0')
            document.getElementById('address-locality').style.borderColor='red'
            return false
    } 

    const regex = /[0-9]/;
    if(regex.test(locality)==true){
        document.getElementById('address-locality').style.borderColor='red'
         return false;
    }

     document.getElementById('address-locality').style.borderColor='aquamarine'
    return true;

    }
    




 function validateAddress(){
        const address = document.getElementById('address-address').value
    if(address.length==0){
            console.log('length - 0')
            document.getElementById('address-address').style.borderColor='red'
            return false
    } 

     document.getElementById('address-address').style.borderColor='aquamarine'
    return true;

    }



     function validateCity(){
        const city = document.getElementById('address-city').value
    if(city.length==0){
            console.log('length - 0')
            document.getElementById('address-city').style.borderColor='red'
            return false
    } 

     document.getElementById('address-city').style.borderColor='aquamarine'
    return true;

    }


function validateLandmark(){
        const landmark = document.getElementById('address-landmark').value
    if(landmark.length==0){
            console.log('length - 0')
            document.getElementById('address-landmark').style.borderColor='red'
            return false
    } 

     document.getElementById('address-landmark').style.borderColor='aquamarine'
    return true;

    }





    function validateContactSecond(){
        const contactscnd = document.getElementById('address-secondno').value
        const regex = /[a-zA-Z]/;
        if(contactscnd.length==0){
            document.getElementById('address-secondno').style.borderColor='red'
            return false
        } 

        if(contactscnd.length!==10){

            document.getElementById('address-secondno').style.borderColor='red'
            return false;
        }
        if(regex.test(contactscnd)==true){
        document.getElementById('address-secondno').style.borderColor='red'
         return false;
        }

    
        document.getElementById('address-secondno').style.borderColor='aquamarine'
        return true
    }

    
</script>