                <div class="container-fluid" style="padding-top: 5em; padding-left: 2em; float: left; width:auto">
                   {{#if cart}}
                    <div class="container" style="height: 17em; width: 54em; float: inherit;">
                        

                        {{#each cart}}
                        <div id="cart-card" class="hero-card box-shadow-outer-6 wow fadeIn animated mb-30 hover-up d-flex" style=
                         "background-color:rgb(236 236 236 / 69%);
        background-clip: border-box;
        border: 0 solid transparent;
        border-radius: 2rem;
        box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);">
                            <div class="hero-card-icon icon-left-2 hover-up ">
                                <img class="btn-shadow-brand hover-up border-radius-5 bg-brand-muted" src="uploads/{{products.Image}}" alt="" style="height:6em">
                            </div>
                            <div class="pl-5">
                                <h4 class="mb-5 fw-500 text-truncate" style="  width: 150px;-webkit-box-orient: vertical;-webkit-line-clamp:3;overflow: hidden;">{{products.name}}</h4>
                                <p class="font-sm text-grey-5">size:3</p>
                            </div>




                                <div class="detail-qty border radius  m-auto">
                                                <a onclick="countPlus( '{{products._id}}' , '{{quantity}}' , '1' ,{{products.newPrice}})" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                                <span class="qty-val" id="{{products._id}}">{{quantity}}</span>
                                                <a onclick="countPlus( '{{products._id}}' , '{{quantity}}' , '-1',{{products.newPrice}})" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                            </div>
                                            

                            {{!-- <div class="pl-50 pt-15">
                                <input type="number" style="width: 5em;">
                            </div> --}}








                            <div class="pl-50 pt-25">
                                <h5 id="id-{{products._id}}">₹ {{subTotal}}</h5>
                            </div>

                            <div onclick="deleteProduct('{{_id}}','{{products._id}}')">
                                <img style="height: 1.5em;width: 1.5em;margin-top: -1em;" src="https://cdn-icons-png.flaticon.com/512/1828/1828939.png" alt="" style="height:2em; width:3.2em;">
                            </div>

                               
                            
                        </div>

                        {{/each}}
                     <div style="padding: 4em;
    background: #f2f2f2;
    border-width: 18px;
    border-color: black;
    border-radius: 1em;">
                        <form action="">
                            <div class="d-flex justify-content-around">
                            
                        <h5 class="mb-5 fw-500" style="padding: 1em;
    text-align: center;
    color: rgb(7, 127, 151);
    font-weight: 900;"> Apply Coupon </h5>
                        <input style="width: 20em;" type="text">
                        <button type="button" class="btn btn-success" style="text-align:center;background-color:rgb(7, 127, 151)">Apply</button>

                            </div>

                        </form>
                     </div>

                    
            </div>
           
           {{!-- mainnnnnnnnn --}}
                    <div class="col-md-4 col-lg-4" style="float:right;margin-left: 3em; margin-top: -15em;" id="proceed">
                        <div class="hero-card box-shadow-outer-6 wow fadeIn animated mb-50 hover-up d-flex" style="background-color:rgba(255, 255, 255, 0.69);">
                            <div class="pl-30" style="width:23em">
                                <h5 class="mb-5 fw-500" style="text-align: center;color:rgb(7, 127, 151);font-weight:900;">
                                    PRICE DETAILS
                                </h5>
                                <hr>
                                <div class="d-inline-flex">
                                <p class="font-l text-black-5" style="font-weight:700">Sub Total</p>
                                <p class="font-l text-black-5" style="margin-left: 6.1em;font-weight:700;">₹ {{Total}}</p>
                               </div>
                                <div class="d-inline-flex">
                                <p class="font-l text-grey-5">Discount</p>
                                <p class="font-l text-grey-5" style="margin-left: 6.2em;">₹ 0</p>
                               </div>
                               <div class="d-inline-flex">
                                <p class="font-l text-grey-5">Delivery Charges</p>
                                <p class="font-l text-grey-5" style="margin-left: 2.6em;">Free</p>
                               </div>
                               <hr>
                               <div class="d-inline-flex">
                                <p class="mb-5 fw-500" style="font-weight:900;color:black">Total Amount</p>
                                <p class="mb-5 fw-500" onclick="" style="margin-left: 4.4em;font-weight:900;color:black">₹ {{Total}}</p>
                               </div>
                                <hr>
                                <br>
                                <a href="/check-payment">

                                    <button type="button" class="btn btn-success" style="padding-inline: 5em; text-align:center;background-color:rgb(7, 127, 151)">PLACE ORDER</button>
                                </a> 
                                <br>
                                <br>
                                <p style="text-align: center;">or</p>
                                <br>
                                <a href="/">
                                    <button type="button" class="btn btn-info" style="padding-inline: 4em; background-color:rgb(0, 0, 0);color:rgb(255, 255, 255)">Continue shopping</button>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    {{else}}

<div id="content" class="col-sm-12" style="text-align:center;">
<style>
    .error_img{
    display: block;
    text-align: center;
    width: 16em;
    margin-inline: 36em;
    padding-top: 3em;
    }
    .btn.btn-mega{
    text-align: center;
    border: 1px solid #fff;
    background: #fff;
    padding: 10px 30px;
    border-radius: 50px;
    box-shadow: 0 0 9px 1px #eaeaea;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Celiasbold';
    background: black;
    }
                        </style>
                        <img src="https://minbury.com/empty%20cart%20icon.svg" class="error_img" >
                        <h2 style="font-family: 'Celiasbold';font-size: 18px;color: #000;">Your Cart is Empty</h2>
                        <p style="margin-bottom: 2%;font-size: 14px;font-family: 'Celias';">Looks like you haven't added <br> anything to your cart yet </p>   
                        <a href="/" class="btn btn-mega" style="">Start Shopping</a>
</div>
{{/if}}
                </div>
{{!-- <style>
    .sticky {
  position: fixed;
  top:6;
  width:30%;
  float: right;
}

.sticky + .content {
  padding-top: 102px;
}
</style>
<script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("proceed");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script> --}}


